.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  overflow-x: hidden; 
  overflow-y: auto; 
}

.Post {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 15px; 
  margin: 15px auto;
  max-width: 300px;
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}


h2 {
  text-align: center;
}

input {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.page-item {
  margin: 0 5px;
}

.page-link {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ddd;
  border-radius: 4px;
  text-decoration: none;
  cursor: pointer;
  color: #333;
}

.page-link:hover {
  background-color: #f8f9fa;
}

.buttons{
  display: flex;
  flex-direction: row;
}
